%br
%br
%body
  Your Current Itinerary: 
  / #{@itinerary.id}
  %br
  %br
  Arrival date: #{@itinerary.start_date}
  %br
  %br
  Games scheduled while you're in Brazil:
  %br
  - Game.where("datetime between ? and ?", @itinerary.start_date.to_datetime, @itinerary.end_date.to_datetime).order(:datetime).each do |game|
    = game.datetime
    = game.location
    %br
  %br
  Departure date: #{@itinerary.end_date}
  %br
  %br  
  = link_to'Edit', edit_user_itinerary_path(@itinerary), {method: :get, class: "button"}
  = link_to('Delete', user_itinerary_path(@itinerary), {method: :delete, confirm: 'Are you sure you want to do this?', class: "button"})
  %br

