%p
  Name: #{@city.name}
%p
  Name: #{@city.pop_size}
%p
  Name: #{@city.airports}
%p
  Name: #{@city.fun_fact}
%p
  Name: #{@city.stadium_name}
%p
  Name: #{@city.stadium_cap}

 

  / %a{href:"/city/#{@city.id}"}
