%p
  City: #{@city.name}
%p
  Population: #{@city.pop_size}
%p
  Nearest Airport: #{@city.airports}
%p
  Fun Fact: #{@city.fun_fact}
%p
  World Cup Stadium: #{@city.stadium_name}
%p
  Stadium Capacity: #{@city.stadium_cap}
%p
  World Cup Game Dates:
  - @city.games.each do |game|
    %br
    #{game.datetime} 
