!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %script{:src => "http://maps.google.com/maps/api/js?sensor=false", :type => "text/javascript"}
    %title WorldcupApp
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div.container
    .row.navbar
      %h4.alignright.large-9.columns
        - if !current_user
          %a.login{:href => '/sessions/new'} Login
        - if !current_user 
          %a.signup{:href => '/users/new'} Sign-Up
        - if current_user
          %a.trip{:href => "/users/#{current_user.id}/itineraries/new"} Trip Planner
        - if current_user
          %a.itinerary{:href => "/users/#{current_user.id}/itineraries"} Itineraries 
        %a.city{:href => '/cities'} Cities  
        %a.game{:href => '/games'} Games
        - if current_user && current_user.admin
          %a{:href => '/users'} Users
      %h3.alignleft.large-3.columns
        %a{:href => '/'} Joga Bonito
    .row.content
      .large-4.columns  
        

        = yield
    

        - if current_user
          = current_user.name
          = link_to 'logout', logout_path, method: :delete
      .large-8.columns
        / %h3 Eight Columns
        /map starts
        #map{:style => "width: 800px; height: 700px;"}
        :javascript
          var locations = [
            ['City: Belo Horizonte <br /> Stadium: Mineirao', -19.865833, -43.970833, 12],
            ['City: Salvador <br /> Stadium: Itaipava Arena Fonte Nova', -12.978611, -38.504167, 11],
            ['City: Recife <br /> Stadium: Itaipava Arena Pernambuco', -8.04, -35.008056, 10],
            ['City: Curitiba <br /> Stadium: Arena da Baixada', -25.448333, -49.276944, 9],
            ['City: Natal <br /> Stadium: Arena das Dunas', -5.828938, -35.213864, 8],
            ['City: Manaus <br /> Stadium: Arena da Amazonia', -3.083056, -60.028056, 7],
            ['City: Cuiabá <br /> Stadium: Arena Pantanal', -15.603056, -56.120556, 6],
            ['City: Porto Alegre <br /> Stadium: Estadio Beira-Rio', -30.065614, -51.236086, 4],
            ['City: Fortaleza <br /> Stadium: Castelao (Ceara)', -3.807267, -38.522481, 5],
            ['City: São Paulo <br /> Stadium: Arena de São Paulo', -23.545531, -46.473373, 3],
            ['City: Brasília <br /> Stadium: Estadio Nacional Mane Garrincha', -15.7835, -47.899164, 2],
            ['City: Rio de Janeiro <br /> Stadium: Estadio do Maracana', -22.912167, -43.230164, 1]
          ];
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: new google.maps.LatLng(-12,-55),
            mapTypeId: google.maps.MapTypeId.TERRAIN
          });
          var infowindow = new google.maps.InfoWindow();
          var marker, i;
          var image = '/image.png'
          for (i = 0; i < locations.length; i++) {  
            marker = new google.maps.Marker({
              position: new google.maps.LatLng(locations[i][1], locations[i][2]),
              map: map,
              url:"/cities",
              icon: image,  
              animation: google.maps.Animation.DROP
            });
            google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
              return function() {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
              }
            })(marker, i));
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
              return function() {
                window.location.href = marker.url;
              }
            })(marker, i));
          }
        

    :javascript 
      $(document).foundation();

    
