!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title WorldCup_app
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body

    %div.container
    .row
      .large-4.columns
        %h3 
          %a{:href => '/'} Joga Bonito
          
        .row.sidebar
          %h4 
            %a{:href => '/sessions/new'} Login 
            %a{:href => '/users/new'}  Sign-Up
            %a{:href => '/users/new'}  Trip Planner
          %h4 
            %a{:href => '/cities'} Cities  
            %a{:href => '/stadia'} Stadiums 
            %a{:href => '/games'} Games
          

          = yield
          - if current_user
            = current_user.name
            = link_to 'logout', logout_path, method: :delete
      .large-8.columns
        %h3 Eight Columns






        
      

    

 

    :javascript 
      $(document).foundation();
